<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipieForm">
            <button type="button" class="btn btn-success" [disabled]="!recipieForm.valid" (click)="onsubmit()">Save recipie</button>
            <button type="button" class="btn btn-danger ms-3" (click)="oncancel()">Cancel</button>
            <div class="row">
                <div class="col-xs-10">
                    <div class="form-group">
                        <label for="recipie-name">Recipie name</label>
                        <input type="text" id="recipie-name" class="form-control" formControlName="recipie_name"> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="recipie-image-path" >Recipie image path/URL</label>
                        <input type="text" id="recipie-image-path" class="form-control" formControlName="image-path">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="recipieForm.get('image-path').value" style="max-width: 40%;" alt="Preview image" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="recipie-desc" >recipie description</label>
                    <textarea name="recipie-desc" id="recipie-desc" rows="5" class="form-control" formControlName="description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 mt-3" formArrayName="ingredients">
                    <div class="row mt-2" 
                    *ngFor="let ingcontrol of getcontrolss(); let i = index"
                    [formGroupName]="i">
                        <div class="col-5">
                            <input type="text" id="ingname" class="form-control" formControlName="name">
                        </div>
                        <div class="col-2">
                            <input type="number" id="ingamount" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-danger" (click)="ondeleteingre(i)">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary mt-3" (click)="onadding()">Add Ingredient</button>
        </form>
    </div>
</div>
